<h1>Signin</h1>
<%= form_for(@user, url: "/login") do |f| %>

    <%= f.label :name %>
    <%= f.collection_select :id, User.all, :id, :name, {}, {:name=>'user_name'} %><br>

    <%= f.label :password %>
    <%= f.password_field :password, 'name' => "password" %><br>

    <%= f.submit "Sign In" %>
    
<% end %>